@import "tailwindcss";

select option {
  background-color: white;
  color: black;
  
}

select option:hover{
    border-color: #E7473C;
}

select option:checked {
  background-color: #E7473C;
  color: white;
}

  input[type='range']::-webkit-slider-thumb {
    background: #E7473C;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
  }
  
  input[type='range']::-moz-range-thumb {
    background: #E7473C;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  }